@import "src/theme/theme-variables";
header {
  // padding: 20px 0;
  padding-top: 10px;
}
.navbar {
  margin-bottom: $spacer;
  padding-top: 0;
}

.navbar-brand {
  margin-right: 60px;
  font-size: 48px;
  font-weight: 600;
  line-height: 24px;
  color: var(--primary);
}
.nav-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: var(--primary);
}

.active-nav {
  color: var(--active) !important;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.theme-switch-wrapper {
  display: inline-block;
  position: relative;
  width: 4.5rem;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--secondary-dark-bg);
}

input:checked + .slider:before {
  transform: translateX(38px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.light-icon {
  left: 6px;
}

.dark-icon {
  right: 6px;
}

.sideContainer {
  align-items: center;
  gap: 0.7rem;
}

@media (min-width: 600px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
}
.show-side-nav-mobile {
  display: none;
}
.nav-hamburger {
  display: none;
}

@media (max-width: 990px) {
  header {
    padding: 10px 12px;
    padding-bottom: 0;
    border-bottom: 1px solid var(--secondary-dark-bg);
  }
  .navbar-brand {
    margin-left: 10px;
    padding-left: 20px;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar {
    margin-bottom: 5px;
  }
  .nav-hamburger {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px dotted var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      border: 1px dotted var(--active);
      svg {
        path {
          stroke: var(--active);
        }
      }
    }
    svg {
      path {
        stroke: var(--primary);
      }
    }
  }
  .show-side-nav-mobile {
    display: block;
    background-color: var(--side-nav-bg);
    width: 240px;
    padding: 30px 20px;
    position: fixed;
    z-index: 11;
    left: -240px;
    transition: all 0.3s ease-in-out;
    height: 100vh;
  }
  .l-0 {
    left: 0;
  }
}

@media (max-width: 700px) {
  .navbar-brand {
    margin-right: 40px;
    font-size: 32px;
  }
  .sideContainer {
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .navbar-nav .dropdown-menu {
    position: static;
  }
}

@media (max-width: 390px) {
  .navbar-brand {
    margin-right: 24px;
    font-size: 22px;
  }
}
